.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .AskContainer1 {
    margin-top: 20px;
    height: 150px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
  }
  